.loadingmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  